[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu100/torch_stable.html"
verify_ssl = false

[packages]
scikit-image = "*"
tqdm = "*"
fire = "*"
ipdb = "*"
matplotlib = "*"
pprintpp = "*"
cython = "*"
torch = {index = "pytorch"}
